body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #172c6b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.wrapper{

  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;

}
.transit{transition: background-color 0.5s ease-in-out;}

p { padding:50px}

.firstLabel{
  margin-top: 120px;
  font-size: 20px;
}
.secondLabel{
  margin-top: 120px;
  font-size: 20px;
}
.faviconcontainer{
  display: flex;
 justify-content: space-between;

}
